<div class="home__container"
            >
	          <app-card
	          gameCover="assets/btv.jpeg"
	          gameLabel="DIGITAL"
						gameType="DIGITAL | PS4"
						gamePrice="R$ 129,99"
					>
          </app-card>
	        <app-card
	          gameCover="assets/btv-1.jpeg"
	          gameLabel="EXCLUSIVE"
            gameType="DISC | PS5"
						gamePrice="R$ 269,99"
					>
					</app-card>
	        <app-card
	          gameCover="assets/btf-4.jpeg"
	          gameLabel="SECOND ASSAULT"
            gameType="DISC | PS5"
						gamePrice="R$ 369,99"
					>
					</app-card>
					<app-card
	          gameCover="assets/btf-5.jpeg"
	          gameLabel="BATTLEFIELD 2042"
            gameType="DISC | PS5"
						gamePrice="R$ 369,99"
					>
					</app-card>
</div>
